:root {
  --primary-color: #001524;
  --secondary-color: #362FD9;
  --tree-color: #F9F54B;
  --four-color: #CD1818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* animação scrool */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.animate-on-scroll.animated {
  opacity: 1;
  transform: translateY(0);
}

/* animação scrool */

.container {
  margin: 0 auto;
  width: 80%;
}

h3 {
  font-size: 2em;
}

body {
  background-color: #001524;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100vh;
}

header {
  background-color: #000;
  padding: 20px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  box-shadow: 1px 1px 5px #CD1818;
}

.menu-btn, .menu-icon {
  display: none;
}

.header__nav {
  background-color: transparent;
  position: sticky;
  display: flex;
  justify-content: space-between;
}

.header__nav img {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header__nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3em;
}

.header__nav li {
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
}

.header__nav a {
  text-decoration: none;
  color: #fff;
  padding: .3em;
  border-bottom: 1px solid transparent;
}

.header__nav a:hover {
  border-bottom-color: #fff;
  transition: linear .7s;
}

/* header */

/* home inicio*/

.home__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

article h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.5em;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(red, blue);
  -webkit-background-clip: text;
  color: transparent;

  width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(14), blinking 0.5s infinite step-end alternate;
}

article h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(red, blue);
  -webkit-background-clip: text;
  color: transparent;

  width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(14), blinking 0.5s infinite step-end alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

.contatos ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8em;
}

.contatos ul li {
  list-style-type: none;
  padding: 1.5em;
  margin-top: 3em;
}

.contatos i {
  color: #fff;
  font-size: 1.5em;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.contatos i:hover {
  color: #ccc;
}

/* home  fim */

/* sobre mim inicio */

.sobremim {
  display: flex;
  justify-content: center;
  gap: 2em;
  height: 100vh;
  padding-top: 150px;
}

.sobremim__article {
  width: 70%;
  height: 500px;
  border-right: 1px solid black;
  text-align: left;
  background-color: #CD1818;
  padding: 20px;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(150, 150, 150);
}

.article__habilidades{
  width: 30%;
  height: 500px;
  background-color: #362FD9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(150, 150, 150);
}

.article__habilidades ul {
  padding: 20px;
}

.article__habilidades ul li {
  color: #fff;
  margin-top: 10px;
}

.article__habilidades ul li:nth-child(1), .article__habilidades ul li:nth-child(2) {
  text-transform: uppercase;
}

.sobremim p {
  color: #fff;
  letter-spacing: 3px;
  font-size: 0.8em;
  font-weight: 400;
  margin-top: 20px;
}

.curriculo {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px white;
  padding: 10px;
  margin-top: 40px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

/* sobre mim fim */

/* projetos inicio */

section#projetos {
  padding-top: 150px;
  position: relative;
  height: 600px;
  margin: 10px 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

.projetos__title {
  color: white;
  z-index: 3;

  position: absolute;
  top: 0;
  margin-top: 100px;
}

article#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 80%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
  margin-top: 0;
  padding-top: 0;
}

div.item {
  position: absolute;
  width: 300px;
  height: 400px;
  margin-top: 0px;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
  background-color: #90f1ef;
}
div.item:nth-of-type(2) {
  --offset: 2;
  background-color: #ff70a6;
}
div.item:nth-of-type(3) {
  --offset: 3;
  background-color: #ff9770;
}
div.item:nth-of-type(4) {
  --offset: 4;
  background-color: #ffd670;
}
div.item:nth-of-type(5) {
  --offset: 5;
  background-color: #e9ff70;
}

div.item p {
  text-align: center;
  transform: translate(-50%, -50%) rotate(-45deg); /* Adicione translate para centralizar */
  transform-origin: center center;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #001524;
  border-bottom: 5px solid #001524;
  border-top: 5px solid #001524;

  font-size: 2em;
}

.buttons__carrosel {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* Adicionei colunas extras para alinhar os botões ao centro */
  align-items: center;
  justify-content: space-between;
  grid-column: 2 / span 4; /* Ajuste a posição horizontal dos botões para o centro */
  grid-row: 2; /* Mantenha os botões na mesma linha que o título */
  z-index: 5;
  margin-top: -100px;
}

.buttons__carrosel button{
  cursor: pointer;
  font-size: 25px;
  background: none;
  border: none;
  color: #000;
}

#prev, #next {
  background-color: white;
  border: 2px solid white;
  margin-left: 20px;
  padding: 2px 50px;
}

#prev:hover,
#next:hover {
  background-color: #ccc;
}

/* contato inicio */

section#contato {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #001524;
  margin: 50px 0;
}

.contato__form {
  width: 90%;
  margin: 20px;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 3px black;
}

section#contato h3 {
  margin: 40px 0;
  color: white;
}

section form {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: right;
  width: 50%;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 2px black;
  padding: 20px;
  margin: 20px auto;
}

label {
  padding: 10px 10px 10px 0;
  font-family: 'Poppins', sans-serif;
}

input {
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

textarea {
  font-family: 'Poppins', sans-serif;
  resize: none;
  padding: 10px;
  outline: none;
  margin-bottom: 30px;
}

form button {
  padding: 10px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  display: inline-block;
  width: 90px;
}

/* contato fim */





/* Adicionando regra de CSS para dispositivos intermediarios */
@media only screen and (max-width: 1180px) {
  h3 {
    font-size: 1.5em;
  }
  .sobremim p {
    font-size: 0.6em;
  }

  .article__habilidades ul li {
    font-size: 0.8em;
  }

  .buttons__carrosel button{
    font-size: 20px;
  }

  #prev, #next {
    padding: 3px 30px;
  }

  section#contato {
    margin: 0;
  }

  .contato__form {
    margin: 0;
  }

  section form {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 80%;
    border-radius: 2px;
    box-shadow: 2px 2px 2px black;
    padding: 20px;
    margin: 20px auto;
  }

  section#contato h3 {
    padding-top: 50px;
    color: white;
  }
}





/* Adicionando regra de CSS para dispositivos intermediarios */
@media only screen and (max-width: 745px) {
  .container {
    width: 98%;
  }

  h3 {
    font-size: 1.6em;
  }

  .hide {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

  .header__nav ul {
    align-items: flex-end;
  }

  .header__nav a {
    width: calc(100vw - 3em);
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-btn, .menu-icon, .nav-icon {
    display: inline-block;
  }

  .menu-icon {
    padding: 0;
    position: relative;
    cursor: pointer;
    padding-bottom: 1px;
    height: 24px;
  }

  .nav-icon {
    position: relative;
    background-color: #fff;
    height: 2px;
    width: 24px;
  }

  .nav-icon::after, .nav-icon::before {
    content: "";
    background-color: #fff;
    height: 2px;
    width: 24px;
    display: inline-block;
    position: absolute;
    transition: transform .2s;
  }

  .nav-icon::after {
    transform: translateY(8px);
  }

  .nav-icon::before {
    transform: translateY(-8px);
  }

  .menu-btn:checked + .menu-icon .nav-icon::before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked + .menu-icon .nav-icon::after {
    transform: rotate(45deg);
  }

  .header-menu {
    overflow: hidden;
    background-color: #001a2df3;
    position: absolute;
    top: 70px;
    left: -25px;
    right: -25px;
    flex-direction: column;
    text-align: right;
    max-height: 0;

    transition: max-height 1s;
  }

  .menu-btn:checked ~ .header-menu {
    max-height: 100vh;
    transition: max-height 2s;
  }

  .menu-btn:checked+.menu-icon .nav-icon {
    background-color: transparent;
  }

  .header-menu:focus-within {
    max-height: 100vh;
  }

  .header-menu li a:hover {
    border-bottom: none;
    color: #6e6e6e;
    transition: all .8s;
  }

  .header-menu li {
    padding: 12px;
    margin-left: 10px;
  }

  .header__nav img {
    width: 50px;
    height: 50px;
  }
  
  /* home inicio*/

  #home {
    width: 100%;
    overflow: hidden;
    max-width: 745px;
  }

  .home__article {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
  }

  article h1 {
    font-size: 2.8em;
    text-align: center;
  }

  article h2 {
    font-size: 2em;
  }

  /* home fim*/

  /* sobre mim inicio */

  .sobremim {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sobremim p {
    font-size: .5em;
    letter-spacing: 2.5px;
    line-height: 10px;
  }

  .sobremim__article {
    width: 90%;
  }

  .curriculo {
    font-size: .6em;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
  }

  .article__habilidades{
    width: 90%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(150, 150, 150);
  }

  .article__habilidades ul li {
    font-size: .6em;
  }

  /* sobre mim fim */

  /* projetos inicio */

  section#projetos {
    position: relative;
    margin: 0;
  }

  article#carousel {
    width: 90%;
    height: 250px;
    perspective: 700px;
  }

  div.item {
    width: 280px;
    height: 250px;
  }

  div.item p {
    border-bottom: 3px solid #001524;
    border-top: 3px solid #001524;
    font-size: 1.2em;
  }

  .buttons__carrosel {
    display: flex;
    margin-top: -200px;
  } 

  .buttons__carrosel button{
    font-size: 15px;
  }

  #prev, #next {
    padding: 2px 25px;
  }

  /* projetos fim */

  /* contato inicio */

  .contato__form {
    width: 90%;
    margin: 20px;
  }

  section form {
    width: 80%;
    border-radius: 2px;
    box-shadow: 2px 2px 2px black;
    padding: 20px;
    margin: 20px auto;
    font-size: .8em;
  }

  label {
    padding: 10px 10px 10px 0;
    font-family: 'Poppins', sans-serif;
  }

  input {
    padding: 5px;
    outline: none;
    margin-bottom: 5px;
    font-size: .8em;
  }

  textarea {
    padding: 5px;
    margin-bottom: 20px;
    font-size: .9em;
  }

  form button {
    padding: 5px;
    margin-bottom: 5px;
    width: 60px;
    font-size: .8em;
  }

  /* contato fim */

}

/* Outras regras de CSS permanecem inalteradas */




/* menu */

@media only screen and (max-width: 745px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-btn, .menu-icon, .nav-icon {
    display: inline-block;
  }

  .menu-icon {
    padding: 0;
    position: relative;
    cursor: pointer;
    padding-bottom: 10px;
    height: 24px;
  }

  .menu-btn:focus-visible + .menu-icon {
    outline: 2px solid #fff;
    outline-offset: 3px;
  }

  .nav-icon {
    position: relative;
    background-color: #fff;
    height: 2px;
    width: 24px;
  }

  .nav-icon::after, .nav-icon::before {
    content: "";
    background-color: #fff;
    height: 2px;
    width: 24px;
    display: inline-block;
    position: absolute;
    transition: transform .2s;
  }

  .nav-icon::after {
    transform: translateY(8px);
  }

  .nav-icon::before {
    transform: translateY(-8px);
  }

  .menu-btn:checked + .menu-icon .nav-icon::before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked + .menu-icon .nav-icon::after {
    transform: rotate(45deg);
  }

}

/* menu */



/* Estilo do footer */
.footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}


.footer p {
  margin: 0;
  font-size: 12px;
}
